<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Webpage Title -->
    <title>Puppy Zone 회원가입</title>

    <link rel="stylesheet" href="../static/join.css">

</head>
<body>
<div class="outBox">
    <div class="inputBox">
        <input type="text" id="email" name="">
        <label for="email">이메일</label>
    </div><br>
    <div class="inputBox-1">
        <input type="text" id="pnb" name="">
        <label for="sampleId">전화번호</label>
    </div><br>
    <div class="inputBox-2">
        <input type="text" id="psw" name="">
        <label for="sampleId">비밀번호</label>
    </div><br>
    <div class="inputBox-3">
        <input type="text" id="psw_re" name="">
        <label for="sampleId">비밀번호 확인</label>
    </div><br>
</div>
<script type="text/javascript" src="../static/join.js"></script>
</body>
</html>