<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Webpage Title -->
    <title>Puppy Zone 로그인</title>

    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header>
        <nav class="main-navigation">
            <a class="active" href="#">목록 1</a>
            <a href="#">목록 2</a>
            <a href="#">목록 3</a>
            <a class="btn ghost-btn" href="#">Login</a>
        </nav>
    </header>
    <div class="container">
        <div class="image-wrap">
            <img src="../static/logo.png"></img>
        </div>
        <div class="text-wrap">
            <h2>아이디 :<br>비밀번호 :<br></h2>
            
            <div class="btn-wrap">
                <a class="btn" href="/join">회원가입</a>
                <a class="btn ghost-btn" href="#">로그인</a>
            </div>
        </div>
    </div>
</body>
</html>