<!doctype html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Webpage Title -->
    <title>Puppy Zone</title>

    <link rel="stylesheet" href="../static/project.css">

</head>
<body>
    <header>
        <h1><a href=""><img src="" alt="" href="/"></a></h1>
        <nav class="main-navigation">
            <a class="active" href="#">목록 1</a>
            <a href="#">목록 2</a>
            <a href="#">목록 3</a>
            <a class="btn ghost-btn" href="/login">Login</a>
        </nav>
    </header>
    <div class="container">
        <div class="image-wrap">
            <img src=""></img>
        </div>
        <div class="text-wrap">
            <h2>애완견과 <br>함께하는 <br>여행</h2>
            <h3>어디든 놀러가고 싶을 때</h3>
            <p>함께할 수 있는 모든 곳에 대한<br> 장소를 추천해주는!</p>
            <div class="btn-wrap">
                <a class="btn" href="#">둘러보기</a>
            </div>
        </div>
    </div>
</body>
</html>